@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
    background-color: #663399;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    color: white;
}

h1 {
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
}

p {
    margin: 0.5rem 0 2rem;
    text-align: center;
}

a {
    color: pink;
    text-decoration: none;
}

.leaderboard {
    background-color: #4b1c7a;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-weight: 500;
    color: white;
    padding: 10px;
    width: 600px;
    max-width: 100%;
    margin-bottom: 20px;
}

.item {
    padding: 0.75rem 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

.item.header-item span {
    margin: 0 5px;
}

.item:last-child {
    border-bottom: 0;
}

.item img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.item .image-wrapper {
    position: relative;
    margin: 0 10px;
    height: 36px;
}

.item .crown {
    position: absolute;
    top: -12px;
    left: -2px;
    transform: rotate(-20deg);
}

.item p {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    margin: auto;
    flex: 1;
}

.item p span:first-child {
    margin-left: auto;
}

.item p span {
    margin: 0 5px;
    color: rgb(162, 114, 209);
}

.item p span.total {
    color: white;
}

.item .round {
    background: #b667d2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}
