@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
    background-color: #663399;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

h1 {
    color: white;
    font-weight: 500;
}

.leaderboard {
    background-color: #4b1c7a;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-weight: 500;
    color: white;
    padding: 10px;
    width: 600px;
    max-width: 100%;
    margin-bottom: 20px;
}

.item {
    padding: 5px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

.item:last-child {
    border-bottom: 0;
}

.item img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.item .image-wrapper {
    position: relative;
    margin: 0 10px;
    height: 36px;
}

.item .crown {
    position: absolute;
    top: -12px;
    left: -2px;
    transform: rotate(-20deg);
}

.item p {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    flex: 1;
}

.item .round {
    background: #b667d2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}
